<ion-view view-title="{{introViewTitle}}">

<ion-nav-buttons side="right">
</ion-nav-buttons>

  <ion-slide-box show-pager="false" on-slide-changed="slideChanged($index)">
    <ion-slide class="padding">
      <img id="logo" class="intro-logo" src="img/space-ship_app.png">
      <h3>Welcome, Fapstronaut</h3>
      <br>
      
      <!--<p class="text-center">
        <a href="#" ng-click="firstRunDone()">Debug: Skip Intro</a>
      </p>-->
        
       <div class="bar bar-footer bar-royal" ng-click="nextSlide()">
         <div class="title">Swipe right to begin</div>
         <button class="button button-icon ion-ios-arrow-right"></button>
       </div>
    </ion-slide>

    <ion-slide class="padding">
      <div class="list card">
        <div class="item item-icon-left">
          <i class="icon ion-stats-bars"></i>
          Track your progress
        </div>

        <div class="item item-icon-left">
          <i class="icon ion-pie-graph"></i>
          Get awesome analytics
        </div>

        <div class="item item-icon-left">
          <i class="icon ion-earth"></i>
          Take part in the Fapsperiment
        </div>

        <div class="item item-icon-left">
          <i class="icon ion-heart"></i>
          Have Sex!
        </div>

        <div class="item item-divider"></div>
        <a href="#" class="item item-icon-left item-icon-right" ng-click="nextSlide()">
          <i class="icon ion-help-circled"></i>
          What is Nofap?
          <i class="icon ion-ios-arrow-right"></i>
        </a>
      </div>
      
      <div class="bar bar-footer bar-royal" ng-click="modal_enterdata.show()">
        <div class="title">Get Started!</div>
      </div>
    </ion-slide>

    <ion-slide class="padding">
      <ion-content class="padding">
        <div class="item item-divider" style="text-align:left">
          Introduction
        </div>
        <div class="item item-text-wrap" style="text-align:left">
          <p>NoFap is a web community in which users ("Fapstronauts") abstain from pornography and masturbation for a period of time ("fapstinence" or "rebooting").</p>
          <p>NofApp is a free App which helps you track of abstinence while analyzing parameters like mood, energy and libido. It provides you with awesome plots and analytics!</p>
          <p>If you wish, you may take part in the Fapsperiment in which you submit your data anonymously to find out whether Nofap provides benefits for a vast number of people.</p>
        </div>
        <div class="item item-divider" style="text-align:left">
          NoFap's Challenges
        </div>
        <div class="item item-text-wrap" style="text-align:left">
          <p><b>No Masturbating:</b> The vast majority of NoFap users (which we nickname "Fapstronauts") choose to abstain from masturbating throughout the duration of their challenges. This includes "edging" which is physical stimulation without orgasm. This is masturbation and counts in our programs, but it is your call whether it warrants resetting your badge or not. For the vast majority of NoFap's users, edging does count as a reset.</p>
          <p><b>No Pornography:</b> If you're participating in one of our programs, deliberately viewing pornography is "against the rules". Some Fapstronauts choose to allow one or the other (pornography or masturbation), depending on their individual goals. Some Fapstronauts are here only to break away from pornography and allow masturbation. Some Fapstronauts are here to cut down on their excessive masturbation and choose to allow the viewing of pornography. As previously stated, these decisions are entirely up to you and should be based on your goals.</p>
        </div>
        <div class="item item-divider" style="text-align:left">
          Potential Benefits
        </div>
        <div class="item item-text-wrap" style="text-align:left">
          <p><b>Numbed Pleasure Response healing:</b> You may suffer from something called Numbed Pleasure Response (perhaps even Erectile Dysfunction or Delayed Ejaculation), making it harder for you to reach pleasure or climax. Abstaining from pornography and possibly masturbation altogether may help you overcome these problems.</p>
          <p><b>Increased Self-control:</b> If you feel you may be addicted to pornography, or masturbate excessively, there are benefits alone from gaining the self control to control your behavior.</p>
          <p><b>More hard drive space:</b> Some porn collections can take up terabytes of information. Eliminating it will free up hard drive space.</p>
          <p><b>More time:</b> If you're spending hours surfing porn sites looking for that one image to get off, that time can be better spent pursuing your passions, bettering your life, spending time with friends or a significant other, etc.</p>
          <p><b>Improved attitude:</b> Many Fapstronauts describe increased happiness throughout their lives, especially in their attitudes toward sex.</p>
        </div>
      
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      </ion-content>
      <div class="bar bar-footer bar-royal" ng-click="modal_enterdata.show()">
        <div class="title">Get Started!</div>
      </div>
    </ion-slide>
  </ion-slide-box>
</ion-view>
