<ion-view view-title="Notes">

  <!-- Add Create Note Button -->
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-compose" ng-click="modal_notes_create.show()">
    </button>
  </ion-nav-buttons>
  
  <ion-content>
  
    <a class="item item-icon-right" href="#/menu/notes_single/{{ note.id }}" ng-repeat="note in noteList">
      {{ note.value }}
      <span class="item-note">
        <span am-time-ago="note.time"></span>
      </span>
      <i class="icon ion-ios-arrow-right"></i>
    </a>
    
  </ion-content>
</ion-view>