<ion-view hide-back-button="true" view-title="Settings">
  <ion-content class="padding">
  <div class="list">
    <div class="item item-divider">
      General
    </div>
    <ion-toggle toggle-class="toggle-balanced">Notifications</ion-toggle>
    

    <div class="item item-divider">
      Global Fapsperiment
    </div>
    
    <ion-toggle toggle-class="toggle-balanced">Enable</ion-toggle>
    <a class="item item-icon-right" href="#/menu/settings_fapsperiment">
      More
      <i class="icon ion-ios-arrow-right"></i>
    </a>

    <div class="item item-divider">
      About
    </div>

    <a class="item item-icon-right" href="#/menu/settings_about">
      About NofAPP
      <i class="icon ion-ios-arrow-right"></i>
    </a>
    <a class="item item-icon-right" href="#/menu/settings_beer">
      Buy us beer!
      <i class="icon ion-ios-arrow-right"></i>
    </a>
    
    <div class="item item-divider">
      Reset
    </div>

    <a class="item" href="#" ng-click="showConfirmResetApp()">
      Reset App (Delete Everything)
    </a>

  </div>
  </ion-content>
</ion-view>