<ion-view hide-back-button="true" view-title="Settings">
  <ion-content>
  <div class="list">
    
    <!-- <div class="item item-divider">
      General
    </div>

    <ion-toggle toggle-class="toggle-balanced" ng-model="settings.notifications" ng-change="settingsToggle('notifications')">Notifications</ion-toggle> -->

    <div class="item item-divider">
      The Fapsperiment
    </div>
    
    <ion-toggle toggle-class="toggle-balanced" ng-model="settings.fapsperiment" ng-change="settingsToggle('fapsperiment')">Enable</ion-toggle>
    <a class="item" href="#" ng-if="settings.fapsperiment">
        Last Sync
      <span class="item-note">
        <span am-time-ago="fapsperimentLastSync"></span>
      </span>
    </a>
    <a class="item item-icon-left" href="#" ng-if="settings.fapsperiment">
      <i class="icon ion-ios-loop"></i>
        Synced Events
      <span class="badge badge-royal">{{ numEventsSynced }}</span>
    </a>
    <a class="item item-icon-left" href="#" ng-if="settings.fapsperiment">
      <i class="icon ion-ios-timer-outline"></i>
        Events to Sync
      <span class="badge badge-royal">{{ numEventsNotSynced }}</span>
    </a>
    <a class="item item-icon-right" href="#/menu/settings_fapsperiment">
      About The Fapsperiment
      <i class="icon ion-ios-arrow-right"></i>
    </a>

    <div class="item item-divider">
      About
    </div>

    <a class="item item-icon-right" href="#/menu/settings_about">
      About NofAPP
      <i class="icon ion-ios-arrow-right"></i>
    </a>
    <a class="item item-icon-right" href="#/menu/settings_beer">
      Buy us beer!
      <i class="icon ion-ios-arrow-right"></i>
    </a>
    
    <div class="item item-divider">
      Reset
    </div>

    <a class="item" href="#" ng-click="showConfirmResetApp()">
      Reset App
    </a>

  </div>
  </ion-content>
</ion-view>