<ion-tabs class="tabs-icon-only tabs-striped tabs-royal tabs-color-light">
  <ion-tab title="Overview" icon="ion-stats-bars" href="#/tab/main">
    <ion-nav-view name="main-tab"></ion-nav-view>
  </ion-tab>

  <!--<ion-tab icon="ion-pie-graph" href="#/tab/stats">
    <ion-nav-view name="stats-tab"></ion-nav-view>
  </ion-tab>-->

  <ion-tab title="Data" icon="ion-calculator" href="#/tab/enterdata">
    <ion-nav-view name="enterdata-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="History" icon="ion-clock" href="#/tab/history">
    <ion-nav-view name="history-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon="ion-gear-b" href="#/tab/settings">
    <ion-nav-view name="settings-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>