<ion-view view-title="Overall">
  <ion-content>
    <div class="item item-divider" ng-if="numRelapses <= 1">
      Relapse Statistics
    </div>
    <div class="item item-text-wrap" ng-if="numRelapses <= 1">
      Your Relapse Statistics will be displayed once you relapse more often.
      For now: Good on you, Fapstronaut!
    </div>
    <div class="item item-divider" ng-if="numRelapses > 1">
      Relapses: {{ numRelapses }}
    </div>
    <div class="item item-text-wrap">
      {{ getSeries | json }}
    </div>
    <nvd3-line-chart
        data="exampleData"
        showXAxis="true"
        showYAxis="true"
        tooltips="false"
        interactive="false">
    </nvd3-line-chart>
  </ion-content>
</ion-view>