<ion-view view-title="Overall">
  <ion-content>
    <div class="item item-divider" ng-if="numRelapses < 2">
      Relapse Statistics
    </div>
    <div class="item item-text-wrap" ng-if="numRelapses < 2">
      Your Relapse Statistics will be displayed once you relapse more often.
      For now: Good on you, Fapstronaut!
    </div>
    <div class="item item-divider" ng-if="numRelapses >= 2">
      Mean Endurance: {{ meanNofapDays }} Days
    </div>
  	<nvd3-discrete-bar-chart
    	  data="fapSeriesDurations"
        id="fapSeriesDurations"
        showXAxis="true"
        showYAxis="true"
        width="{{ plotWidth }}"
        height="{{ plotHeight }}"
        color="colorFunction()"
        tooltips="true">
      <svg></svg>
    </nvd3-discrete-bar-chart>
  </ion-content>
</ion-view>