<ion-view view-title="Since last Fap">
  <ion-content>
    <div class="item item-divider">
      Mood
    </div>
    <nvd3-line-chart
        data="moodSinceLastFap"
        showXAxis="true"
        showYAxis="true"
        tooltips="false"
        interactive="false"
        width="{{ linePlotWidth }}"
        height="{{ linePlotHeight }}">
    </nvd3-line-chart>
    <div class="item item-divider">
      Energy
    </div>
    <nvd3-line-chart
        data="energySinceLastFap"
        showXAxis="true"
        showYAxis="true"
        tooltips="false"
        interactive="false"
        width="{{ linePlotWidth }}"
        height="{{ linePlotHeight }}">
    </nvd3-line-chart>
    <div class="item item-divider">
      Libido
    </div>
    <nvd3-line-chart
        data="libidoSinceLastFap"
        showXAxis="true"
        showYAxis="true"
        tooltips="false"
        interactive="false"
        width="{{ linePlotWidth }}"
        height="{{ linePlotHeight }}">
    </nvd3-line-chart>
  </ion-content>
</ion-view>