<ion-view view-title="Enter some Data">

  <!-- Add Help Button -->
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="modal_enterdata_help.show()">
      Help
    </button>
  </ion-nav-buttons>
  
  <!-- Content -->
  <ion-content class="padding">
  
    <!--<div class="item item-text-wrap">
      <p>Enter your current Mood, Energy and Libido.</p>
    </div>-->
  
    <div class="item item-divider">
      <div class="row" style="padding: 0px">
        <div class="col col-50 no-left-padding no-top-padding no-bottom-padding">
          <i class="icon ion-shuffle"></i>
          Mood
        </div>
        <div class="col col-50 no-right-padding no-top-padding no-bottom-padding">
          {{ selectedMood }}
        </div>
      </div>
    </div>
    
    <div class="item item-text-wrap">
      <div class="button-bar">
        <a class="button button-small button-assertive" ng-class="isCurrentMood(1)" ng-click="setMood(1)">1</a>
        <a class="button button-small button-royal" ng-class="isCurrentMood(2)" ng-click="setMood(2)">2</a>
        <a class="button button-small button-royal" ng-class="isCurrentMood(3)" ng-click="setMood(3)">3</a>
        <a class="button button-small button-royal" ng-class="isCurrentMood(4)" ng-click="setMood(4)">4</a>
        <a class="button button-small button-balanced" ng-class="isCurrentMood(5)" ng-click="setMood(5)">5</a>
      </div>
    </div>
    
    <div class="item item-divider">

      <div class="row" style="padding: 0px">
        <div class="col col-50 no-left-padding no-top-padding no-bottom-padding">
          <i class="icon ion-flash"></i>
          Energy
        </div>
        <div class="col col-50 no-right-padding no-top-padding no-bottom-padding">
          {{ selectedEnergy }}
        </div>
      </div>
    </div>
    <div class="item item-text-wrap">
      <div class="button-bar">
        <a class="button button-small button-assertive" ng-class="isCurrentEnergy(1)" ng-click="setEnergy(1)">1</a>
        <a class="button button-small button-royal" ng-class="isCurrentEnergy(2)" ng-click="setEnergy(2)">2</a>
        <a class="button button-small button-royal" ng-class="isCurrentEnergy(3)" ng-click="setEnergy(3)">3</a>
        <a class="button button-small button-royal" ng-class="isCurrentEnergy(4)" ng-click="setEnergy(4)">4</a>
        <a class="button button-small button-balanced" ng-class="isCurrentEnergy(5)" ng-click="setEnergy(5)">5</a>
      </div>
    </div>
    <div class="item item-divider">

      <div class="row" style="padding: 0px">
        <div class="col col-50 no-left-padding no-top-padding no-bottom-padding">
          <i class="icon ion-flame"></i>
          Libido
        </div>
        <div class="col col-50 no-right-padding no-top-padding no-bottom-padding">
          {{ selectedLibido }}
        </div>
      </div>
    </div>
    <div class="item item-text-wrap">
      <div class="button-bar">
        <a class="button button-small button-assertive" ng-class="isCurrentLibido(1)" ng-click="setLibido(1)">1</a>
        <a class="button button-small button-royal" ng-class="isCurrentLibido(2)" ng-click="setLibido(2)">2</a>
        <a class="button button-small button-royal" ng-class="isCurrentLibido(3)" ng-click="setLibido(3)">3</a>
        <a class="button button-small button-royal" ng-class="isCurrentLibido(4)" ng-click="setLibido(4)">4</a>
        <a class="button button-small button-balanced" ng-class="isCurrentLibido(5)" ng-click="setLibido(5)">5</a>
      </div>
    </div>
    
    <div class="item item-divider">
      Note
    </div>
    
    <div class="item item-text-wrap">
      <label class="item item-input">
        <textarea placeholder="Create a Note (optional)" ng-model="userState.note"></textarea>
      </label>
    </div>
    
    <p>&nbsp;</p>
    <div class="item item-text-wrap">
      <ion-footer-bar class="bar-royal" ng-click="submitForm()">
        <h1 class="title">Save</h1>
        <button class="button button-icon ion-ios-arrow-right"></button>
      </ion-footer-bar>
    </div>
  
  </ion-content>
</ion-view>