<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

	<!-- dependencies: angles.js and chart.js-->
	<script src="lib/angles/js/angles.js"></script>
	<script src="lib/chart/js/chart.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="nofApp">

    <ion-nav-bar class="bar-royal">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>

    <script id="templates/tabs.html" type="text/ng-template">
      <ion-tabs class="tabs-icon-top tabs-striped tabs-royal tabs-color-light">

        <ion-tab title="Overview" icon="ion-stats-bars" href="#/tab/main">
          <ion-nav-view name="main-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Stats" icon="ion-pie-graph" href="#/tab/stats">
          <ion-nav-view name="stats-tab"></ion-nav-view>
        </ion-tab>
		
        <ion-tab title="Data" icon="ion-calculator" href="#/tab/enterdata">
          <ion-nav-view name="enterdata-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Sex" icon="ion-heart" href="#/tab/sex">
          <ion-nav-view name="sex-tab"></ion-nav-view>
        </ion-tab>
		
        <ion-tab title="Relapse" icon="ion-flash" href="#/tab/relapse">
          <ion-nav-view name="relapse-tab"></ion-nav-view>
        </ion-tab>
		
        <ion-tab title="Settings" icon="ion-gear-b" href="#/tab/settings">
          <ion-nav-view name="settings-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
    </script>

<script id="templates/main.html" type="text/ng-template">
  <ion-view hide-back-button="true" view-title="NofAPP">
    <ion-content class="padding">
	<center><h3>3</h3><br>Days</center>
      
		  
		  <div class="row">
		    <div class="col col-33 col-offset-33">.col</div>
		    <div class="col">.col</div>
		  </div>
	  <a href="#" ng-click="firstRunReset()">Debug: Do Tutorial Again</a>
	  <p>{{isThisFirstRun}}</p>
    </ion-content>
  </ion-view>
</script>

<script id="templates/stats.html" type="text/ng-template">
  <ion-view hide-back-button="true" view-title="Stats">
    <ion-content class="padding">
      <h1>STATS</h1>
      <a href="#" ng-click="firstRunReset()">Debug: Do Tutorial Again</button>
    </ion-content>
  </ion-view>
</script>

<script id="templates/enterdata.html" type="text/ng-template">
  <ion-view hide-back-button="true" view-title="Sex">
    <ion-content class="padding">
      <h1>Enter moar Data</h1>
      <a href="#" ng-click="firstRunReset()">Debug: Do Tutorial Again</button>
    </ion-content>
  </ion-view>
</script>

<script id="templates/sex.html" type="text/ng-template">
  <ion-view hide-back-button="true" view-title="Sex">
    <ion-content class="padding">
      <h1>SEX</h1>
      <a href="#" ng-click="firstRunReset()">Debug: Do Tutorial Again</button>
    </ion-content>
  </ion-view>
</script>

<script id="templates/relapse.html" type="text/ng-template">
  <ion-view hide-back-button="true" view-title="Relapse?!">
    <ion-content class="padding">
      <h1>Relapse</h1>
      <a href="#" ng-click="firstRunReset()">Debug: Do Tutorial Again</button>
    </ion-content>
  </ion-view>
</script>

<script id="templates/settings.html" type="text/ng-template">
  <ion-view hide-back-button="true" view-title="Settings">
    <ion-content class="padding">
      
	  <div class="list">

      <div class="item item-divider">
          General
        </div>
	      
		<ion-toggle toggle-class="toggle-royal">Notifications</ion-toggle>
		<ion-toggle toggle-class="toggle-royal">NofAPP Cloud</ion-toggle>

      <div class="item item-divider">
          Reset
        </div>
		
	    <a class="item item-icon-left" href="#" ng-click="showConfirmResetApp()">
	      <i class="icon ion-trash-a"></i>
	      Reset App (Delete Everything)
	    </a>

      <div class="item item-divider">
          About
        </div>

	    <a class="item item-icon-left" href="#">
	      <i class="icon ion-information-circled"></i>
	      About NofAPP
	    </a>

	  </div>
	  
    </ion-content>
  </ion-view>
</script>


<script id="templates/intro.html" type="text/ng-template"> 
	
	
      <ion-view>
	  <ion-nav-title>NofAPP</ion-nav-title>
   	  
        <ion-slide-box on-slide-changed="slideChanged(index)">
          <ion-slide>
            <div id="logo">
              <img class="intro-logo" src="img/fapstronaut-beta.png">
            </div>
		      <h3>Welcome, Fapstronaut</h3>
          <br>
          <button class="button button-royal" ng-click="nextSlide()">
            Swipe right to begin
          </button>
		  
		  <p class="text-center">
		                <a href="#" ng-click="firstRunDone()">Debug: Skip Intro</a>
		              </p>
		<p class="text-center">
			{{isThisFirstRun}}
		</p>
          </ion-slide>
          <ion-slide>
            <h3>Using NofAPP</h3>
            
			<div class="list card">

			  <a href="#" class="item item-icon-left">
			    <i class="icon ion-stats-bars"></i>
			    Track your progress
			  </a>

			  <a href="#" class="item item-icon-left">
			    <i class="icon ion-pie-graph"></i>
			    Get awesome analytics
			  </a>

			  <a href="#" class="item item-icon-left">
			    <i class="icon ion-heart"></i>
			    Have Sex!
			  </a>

			  <!--<a href="#" class="item item-icon-left">
			    <i class="icon ion-earth"></i>
			    Contribute to the Nofap Community
			  </a>-->
				  
			<div class="item item-divider">	  
				
			</div>
			<a class="item item-icon-left royal" href="#">
				<!--<i class="icon ion-help"></i>-->
				    What is Nofap?
		    </a>

			</div>
			
            <!-- Old Content
				<div id="list">
              <h5>Just three steps:</h5>
              <ol>
                <li>Track your efforts as often as you like</li>
                <li>Get awesome statistics</li>
                <li>Challenge your friends, maybe?</li>
              </ol>
            </div>
				-->
          </ion-slide>
          <ion-slide class="padding">
            <h3>For starters, set your current mood and energy to begin.</h3>
            <br>
            <h4>Mood</h4>
            <div class="button-bar">
              <a class="button button-balanced" ng-class="isCurrentMood(5)" ng-click="setMood(5)">5</a>
              <a class="button button-royal" ng-class="isCurrentMood(4)" ng-click="setMood(4)">4</a>
              <a class="button button-royal" ng-class="isCurrentMood(3)" ng-click="setMood(3)">3</a>
              <a class="button button-royal" ng-class="isCurrentMood(2)" ng-click="setMood(2)">2</a>
              <a class="button button-assertive" ng-class="isCurrentMood(1)" ng-click="setMood(1)">1</a>
            </div>
            <h4>Overall energy</h4>
            <div class="button-bar">
              <a class="button button-balanced" ng-class="isCurrentEnergy(5)" ng-click="setEnergy(5)">5</a>
              <a class="button button-royal" ng-class="isCurrentEnergy(4)" ng-click="setEnergy(4)">4</a>
              <a class="button button-royal" ng-class="isCurrentEnergy(3)" ng-click="setEnergy(3)">3</a>
              <a class="button button-royal" ng-class="isCurrentEnergy(2)" ng-click="setEnergy(2)">2</a>
              <a class="button button-assertive" ng-class="isCurrentEnergy(1)" ng-click="setEnergy(1)">1</a>
            </div>
            <br>
            <div class="row no-left-padding no-right-padding">
              <div class="col no-left-padding">
                <button class="button button-block padding-right" ng-click="openLastSex()">Last sex</button>
              </div>
              <div class="col no-right-padding">
                <button class="button button-block padding-left" ng-click="openLastFap()">Last fap</button>
              </div>
            </div>
            <button class="button button-block button-balanced" ng-click="submitForm()">
              Keep me from having sex with my hands!
            </button>
          </div>
          </ion-slide>
        </ion-slide-box>
      </ion-view>
    </script>
    
    <script id="popups/last-sex.html" type="text/ng-template">
      <div class="button-bar">
        <button class="button" ng-click="userState.decSexDaysAgo()" ng-disabled="userState.isMinSexDays()">-</button>
        <div class="button in-days-ago">
          <span>{{userState.values.sexDaysAgo}}</span>
          <span>&nbsp;days ago</span>
        </div>
        <button class="button" ng-click="userState.incSexDaysAgo()" ng-disabled="userState.isMaxSexDays()">+</button>
      </div>
    </script>
    
    <script id="popups/last-fap.html" type="text/ng-template">
      <div class="button-bar">
        <button class="button" ng-click="userState.decFapDaysAgo()" ng-disabled="userState.isMinFapDays()">-</button>
        <div class="button in-days-ago">
          <span>{{userState.values.fapDaysAgo}}</span>
          <span>&nbsp;days ago</span>
        </div>
        <button class="button" ng-click="userState.incFapDaysAgo()" ng-disabled="userState.isMaxFapDays()">+</button>
      </div>
    </script>
  </body>
</html>
