<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
	
	<!-- Angular Dependencies for MomentJS -->
	<script src="lib/angular-animate/angular-animate.min.js"></script>
	<script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
	
	<!-- MomentJS -->
	<!--<script src="lib/moment/locale/en-gb.js"></script>-->
	<script src="lib/moment/moment.js"></script>
	
	<!-- Angular MomentJS -->
	<script src="lib/angular-moment/angular-moment.min.js"></script>
	
    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="nofApp">

    <ion-nav-bar class="bar-royal">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>

    <script id="templates/tabs.html" type="text/ng-template">
      <ion-tabs class="tabs-icon-only tabs-striped tabs-royal tabs-color-light">
        <ion-tab title="Overview" icon="ion-stats-bars" href="#/tab/main">
          <ion-nav-view name="main-tab"></ion-nav-view>
        </ion-tab>

        <!--<ion-tab icon="ion-pie-graph" href="#/tab/stats">
          <ion-nav-view name="stats-tab"></ion-nav-view>
        </ion-tab>-->

        <ion-tab title="Data" icon="ion-calculator" href="#/tab/enterdata">
          <ion-nav-view name="enterdata-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="History" icon="ion-clock" href="#/tab/history">
          <ion-nav-view name="history-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Settings" icon="ion-gear-b" href="#/tab/settings">
          <ion-nav-view name="settings-tab"></ion-nav-view>
        </ion-tab>
      </ion-tabs>
    </script>

    <script id="templates/main.html" type="text/ng-template">
      <ion-view hide-back-button="true" view-title="Overview">
        <ion-content class="padding">
          <!--<a href="#" ng-click="firstRunReset()">Debug: Do Tutorial Again</a>
          <p>{{isThisFirstRun}}</p>-->
          
          <div id="progress" class="round-button center">
            <span class="round-dummy"></span>
            <div class="vertical-middle">
              <span class="first-value">
                {{progress.getString(0)}}
              </span>
              <span class="second-value" ng-if="progress.isDefined(1)">
                {{progress.getString(1)}}
              </span>
              <span class="third-value" ng-if="progress.isDefined(2)">
                {{progress.getString(2)}}
              </span>
            </div>
          </div>
          <div id="milestones">
              <div class="row">
                <div class="col col-25"></div>
                <div class="col">Awesome! Keep going!</div>
              </div>
			  <!--
            <div class="row">
              <div class="col col-25">13%</div>
              <div class="col">Track your progress and get anal...</div>
            </div>
            <div class="row">
              <div class="col col-25">23%</div>
              <div class="col">Enter card information</div>
            </div>
				  -->
          </div>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/stats.html" type="text/ng-template">
      <ion-view hide-back-button="true" view-title="Your Metrics">
        <ion-content class="padding">
          <a href="#" ng-click="createSampleData()">Create some Sample Data</a>
		  
		  <h4>Since last Fap</h4>

		 
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/enterdata.html" type="text/ng-template">
      <ion-view hide-back-button="true" view-title="Enter your Data">
        <ion-content class="padding">
          <h4>My current mood</h4>
          <div class="button-bar">
            <a class="button button-balanced" ng-class="isCurrentMood(5)" ng-click="setMood(5)">5</a>
            <a class="button button-royal" ng-class="isCurrentMood(4)" ng-click="setMood(4)">4</a>
            <a class="button button-royal" ng-class="isCurrentMood(3)" ng-click="setMood(3)">3</a>
            <a class="button button-royal" ng-class="isCurrentMood(2)" ng-click="setMood(2)">2</a>
            <a class="button button-assertive" ng-class="isCurrentMood(1)" ng-click="setMood(1)">1</a>
          </div>
          <h4>My current energy</h4>
          <div class="button-bar">
            <a class="button button-balanced" ng-class="isCurrentEnergy(5)" ng-click="setEnergy(5)">5</a>
            <a class="button button-royal" ng-class="isCurrentEnergy(4)" ng-click="setEnergy(4)">4</a>
            <a class="button button-royal" ng-class="isCurrentEnergy(3)" ng-click="setEnergy(3)">3</a>
            <a class="button button-royal" ng-class="isCurrentEnergy(2)" ng-click="setEnergy(2)">2</a>
            <a class="button button-assertive" ng-class="isCurrentEnergy(1)" ng-click="setEnergy(1)">1</a>
          </div>
          <h4>My current libido</h4>
          <div class="button-bar">
            <a class="button button-balanced" ng-class="isCurrentLibido(5)" ng-click="setLibido(5)">5</a>
            <a class="button button-royal" ng-class="isCurrentLibido(4)" ng-click="setLibido(4)">4</a>
            <a class="button button-royal" ng-class="isCurrentLibido(3)" ng-click="setLibido(3)">3</a>
            <a class="button button-royal" ng-class="isCurrentLibido(2)" ng-click="setLibido(2)">2</a>
            <a class="button button-assertive" ng-class="isCurrentLibido(1)" ng-click="setLibido(1)">1</a>
          </div>
          <div class="list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="Leave a note" ng-model="userState.note">
            </label>
          </div>
          <button class="button button-block button-balanced" ng-click="addDataset()">Save</button>
          <button class="button button-block button-large button-royal" ng-click="justHadSex()">
            I JUST HAD SEX!
          </button>
          <button class="button button-block button-small button-assertive" ng-click="justRelapsed()">
            I relapsed
          </button>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/history.html" type="text/ng-template">
      <ion-view hide-back-button="true" view-title="Your History">
        <ion-content class="padding">
		
		<div class="list">
			<div class="item item-divider row">
				<div class="col col-20"></div>
				<div class="col col-20"></div>
				<div class="col" style="text-align:center;">Mood</div>
				<div class="col" style="text-align:center;">Energy</div>
				<div class="col" style="text-align:center;">Libido</div>
			</div>
			
			<div ng-repeat="ah in awesomeHistory">
				<div class="item item-divider" ng-if="ah[0] == 'separator'">
				    <span am-time-ago="ah[1]" ng-if="ah[2] == 'ago'"></span>
					<span ng-if="ah[2] == 'date'">{{ah[1] | amCalendar}}</span>
				</div>
				<div class="item item-icon-left row" ng-if="ah[0] == 'concatData'">
						<div class="col col-20"><i class="icon ion-arrow-graph-up-right"></i></div>
						<div class="col col-20"></div>
						<div class="col" style="text-align:center;">{{ah[2][0]}}</div>
						<div class="col" style="text-align:center;">{{ah[2][1]}}</div>
						<div class="col" style="text-align:center;">{{ah[2][2]}}</div>
				</div>
				<div class="item item-icon-left row" ng-if="ah[0] == 'sex'">
					<div class="row">
						<div class="col col-20"><i class="icon ion-heart"></i></div>
						<div class="col col-30"></div>
						<div class="col" style="text-align:center; background: green;">Sex!</div>
					</div>
				</div>
				<div class="item item-icon-left row" ng-if="ah[0] == 'fap'">
					<div class="row">
						<div class="col col-20"><i class="icon ion-alert-circled"></i></div>
						<div class="col col-30"></div>
						<div class="col" style="text-align:center;">Relapsed!</div>
					</div>
				</div>
				<div class="item item-icon-left row" ng-if="ah[0] == 'note'">
					<div class="row">
						<div class="col col-20"><i class="icon ion-document-text"></i></div>
						<div class="col col-30"></div>
						<div class="col" style="text-align:center;">{{ah[2]}}</div>
					</div>
				</div>
			</div>
			
		</div>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/settings.html" type="text/ng-template">
      <ion-view hide-back-button="true" view-title="Settings">
        <ion-content class="padding">
        <div class="list">
          <!--<div class="item item-divider">
            General
          </div>
          <ion-toggle toggle-class="toggle-balanced">Notifications</ion-toggle>
          <ion-toggle toggle-class="toggle-royal">NofAPP Cloud</ion-toggle>
		  -->
          <div class="item item-divider">
            Reset
          </div>

          <a class="item item-icon-left" href="#" ng-click="showConfirmResetApp()">
            <i class="icon ion-trash-a"></i>
            Reset App (Delete Everything)
          </a>

          <div class="item item-divider">
            About
          </div>

          <a class="item item-icon-left item-icon-right" href="#/tab/about">
            <i class="icon ion-information-circled"></i>
            About NofAPP
			<i class="icon ion-arrow-right-c"></i>
          </a>
          <a class="item item-icon-left item-icon-right" href="#/tab/beer">
            <i class="icon ion-beer"></i>
            Buy us beer!
			<i class="icon ion-arrow-right-c"></i>
          </a>

        </div>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/about.html" type="text/ng-template">
      <ion-view hide-back-button="false" view-title="About NofAPP">
        <ion-content class="padding">
		<div class="item item-divider">
		    About NofAPP
		  </div>
		  <div class="item item-text-wrap">
		    <p>Here you may buy us a Beer to support further development of the NofApp App.</p>
		
			<p>However, we didn't have enough time to complete this function - we
			will have to fall back to buying our own beer for the moment then.</p>
		  </div>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/beer.html" type="text/ng-template">
      <ion-view hide-back-button="false" view-title="Buy us a Beer">
        <ion-content class="padding">
		  
			 <div class="item item-divider">
			    Beer!
			   </div>
			   <div class="item item-text-wrap">
		    <p>Here you may support further development of the NofApp App by buying us some beer. Additionally,
				we will probably be less at risk to relapse if we're out drinking beer.</p>
			
			<p>However, we didn't have enough time to complete this function - we
			will have to fall back to buying our own beer for the moment then.</p>
		  </div>
		</div>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/intro.html" type="text/ng-template">
      <ion-view view-title="NofAPP">
        <ion-slide-box on-slide-changed="slideChanged(index)">
          <ion-slide>
            <img id="logo" class="intro-logo" src="img/fapstronaut-beta.png">
            <h3>Welcome, Fapstronaut</h3>
            <br>
            <button class="button button-royal" ng-click="nextSlide()">
              Swipe right to begin
            </button>

            <p class="text-center">
              <a href="#" ng-click="firstRunDone()">Debug: Skip Intro</a>
            </p>
            <p class="text-center">
              {{isThisFirstRun}}
            </p>
          </ion-slide>

          <ion-slide>
            <h3>Using NofAPP</h3>
            <div class="list card">
              <a href="#" class="item item-icon-left">
                <i class="icon ion-stats-bars"></i>
                Track your progress
              </a>

              <a href="#" class="item item-icon-left">
                <i class="icon ion-pie-graph"></i>
                Get awesome analytics
              </a>

              <a href="#" class="item item-icon-left">
                <i class="icon ion-heart"></i>
                Have Sex!
              </a>

              <!--<a href="#" class="item item-icon-left">
                <i class="icon ion-earth"></i>
                Contribute to the Nofap Community
              </a>-->

              <div class="item item-divider"></div>
              <a class="item item-icon-left royal" href="#">
                <!--<i class="icon ion-help"></i>-->
                What is Nofap?
              </a>
            </div>
          </ion-slide>

          <ion-slide class="padding">
            <h4>Track your mood and sex drive as often as you like</h4>
            <br>
            <h4>Mood</h4>
            <div class="button-bar">
              <a class="button button-small button-balanced" ng-class="isCurrentMood(5)" ng-click="setMood(5)">5</a>
              <a class="button button-small button-royal" ng-class="isCurrentMood(4)" ng-click="setMood(4)">4</a>
              <a class="button button-small button-royal" ng-class="isCurrentMood(3)" ng-click="setMood(3)">3</a>
              <a class="button button-small button-royal" ng-class="isCurrentMood(2)" ng-click="setMood(2)">2</a>
              <a class="button button-small button-assertive" ng-class="isCurrentMood(1)" ng-click="setMood(1)">1</a>
            </div>
            <h4>Energy</h4>
            <div class="button-bar">
              <a class="button button-small button-balanced" ng-class="isCurrentEnergy(5)" ng-click="setEnergy(5)">5</a>
              <a class="button button-small button-royal" ng-class="isCurrentEnergy(4)" ng-click="setEnergy(4)">4</a>
              <a class="button button-small button-royal" ng-class="isCurrentEnergy(3)" ng-click="setEnergy(3)">3</a>
              <a class="button button-small button-royal" ng-class="isCurrentEnergy(2)" ng-click="setEnergy(2)">2</a>
              <a class="button button-small button-assertive" ng-class="isCurrentEnergy(1)" ng-click="setEnergy(1)">1</a>
            </div>
            <h4>Libido</h4>
            <div class="button-bar">
              <a class="button button-small button-balanced" ng-class="isCurrentLibido(5)" ng-click="setLibido(5)">5</a>
              <a class="button button-small button-royal" ng-class="isCurrentLibido(4)" ng-click="setLibido(4)">4</a>
              <a class="button button-small button-royal" ng-class="isCurrentLibido(3)" ng-click="setLibido(3)">3</a>
              <a class="button button-small button-royal" ng-class="isCurrentLibido(2)" ng-click="setLibido(2)">2</a>
              <a class="button button-small button-assertive" ng-class="isCurrentLibido(1)" ng-click="setLibido(1)">1</a>
            </div>
            <br>
            <h4>When did you last...</h4>
            <div class="row no-left-padding no-right-padding">
              <div class="col no-left-padding">
                <button class="button button-small button-block padding-right" ng-click="openLastSex()">have sex?</button>
              </div>
              <div class="col no-right-padding">
                <button class="button button-small button-block padding-left" ng-click="openLastFap()">take a wank?</button>
              </div>
            </div>
            <button class="button button-small button-block button-balanced" ng-click="submitForm()">
              Alright, got it!
            </button>
          </div>
          </ion-slide>
        </ion-slide-box>
      </ion-view>
    </script>

    <script id="popups/last-sex.html" type="text/ng-template">
      <div class="button-bar">
        <button class="button flex-none" ng-click="userState.decSexDaysAgo()" ng-disabled="userState.isMinSexDays()">-</button>
        <div class="button">
          {{userState.pastDaysInWords(userState.values.sexDaysAgo)}}
        </div>
        <button class="button flex-none" ng-click="userState.incSexDaysAgo()" ng-disabled="userState.isMaxSexDays()">+</button>
      </div>
    </script>

    <script id="popups/last-fap.html" type="text/ng-template">
      <div class="button-bar">
        <button class="button flex-none" ng-click="userState.decFapDaysAgo()" ng-disabled="userState.isMinFapDays()">-</button>
        <div class="button">
          {{userState.pastDaysInWords(userState.values.fapDaysAgo)}}
        </div>
        <button class="button flex-none" ng-click="userState.incFapDaysAgo()" ng-disabled="userState.isMaxFapDays()">+</button>
      </div>
    </script>
  </body>
</html>
