<ion-view hide-back-button="false" view-title="The Fapsperiment">
  <ion-content class="padding">
  
    <div class="list">
    <ion-toggle toggle-class="toggle-balanced" ng-model="settings.fapsperiment" ng-change="settingsToggle('fapsperiment')">Enable</ion-toggle>
    </div>
    
    <div class="item item-divider">
      About The Fapsperiment
    </div>
    
    <div class="item item-text-wrap">
      <p>The Fapsperiment is all about proving that Nofap works. To accomplish that, you can provide us with anonymous data of your Nofap progress.</p> 
      <p>Data about your Mood, Energy, Libido, Sex and Faps is submitted under an anonymous User ID. Your Notes are personal and will not be submitted.</p>
    </div>

    <div class="item item-text-wrap">
      <p>If you have concerns regarding your privacy, fear no more: NofApp and NofApp.com are completely open-source (see Settings - About for GitHub Links). Furthermore, the collected data can be accessed (and analyzed) by anyone as it is hosted publicly on Firebase.</p>
    </div>
  </ion-content>
</ion-view>