<ion-view hide-back-button="false" view-title="About NofAPP">
  <ion-content class="padding">
<div class="item item-divider">
  About NofAPP
</div>
<div class="item item-divider">
  Version 0.0.2 "Ejaculatio Praecox"
</div>
<div class="item item-text-wrap">
  <p>Once upon a time, two highly motivated German Students, who happened to be friends, met up
	during their University Holidays for a private "Hackathon" to utilize their 1337 Programm0r Skillz.</p>

<p>They decided to develop an app. But what type of app? One student had a medical background, the
	other was studying mechanical engineering.</p>

<p>What a perfect combination! They wondered whether
	Nofap could actually prevent depression and anxiety (therefore the questions about mood and energy)
	and if one actually has more sex after beginning Nofap.</p>

<p>However, after about 30 seconds they noticed, that only by using a framework they would stand a
	realistic chance of creating an app with more than one page in 48 hours.</p>
	
<p>They finally chose the Ionic Framework, which turned out to be awesome (thanks, Ionic Framework peoples!).</p>

<p>Enjoy and keep No-Fapping!</p>
</div>

  </ion-content>
</ion-view>