<ion-view hide-back-button="false" view-title="Buy us a Beer">
  <ion-content class="padding">

    <div class="item item-divider">
      Beer!
    </div>
    
    <div class="item item-text-wrap">
      <p>Here you may support further development of the NofApp App by buying us some beer. Additionally,
      we will probably be less at risk to relapse if we're out drinking beer.</p>

      <p>However, we didn't have enough time to complete this page - we
      will have to fall back to buying our own beer for the moment.</p>

      <p>You may buy a beer for yourself and mentally chink glasses with us. Yeah!</p>
    </div>
    
  </ion-content>
</ion-view>