<ion-view hide-back-button="false" view-title="Buy us a Beer">
  <ion-content class="padding">

    <div class="item item-divider">
      The Global Fapsperiment
    </div>
    <div class="item item-text-wrap">
      <p>
        Help us show that NoFap works by submitting anonymous data to the Global FapSperiment!
      </p>
      
      <p>
        The Global Fapsperiment is an effort to deliver an objective approach of
        measuring the effects of abstinence of masturbation (NoFap) to Mood, Energy and Libido.
      </p>

      <p>Every day, <a href="#" onclick="window.open('http://reddit.com/r/nofap', '_system')">Reddit's /r/NoFap</a> is filled with a vast amount of success stories. However, no studies have yet been conducted to prove any of the reported beneficial properties.
      </p>
      
      <p>
        We therefore hope to contribute an awesome, free, real-time and open-source approach with a massive amount of subjects (including you)
        to hopefully show that NoFap is beneficial for mood and other parameters.
      </p>
      
      <p>
        By Opting In to the Global FapSperiment, you contribute to this project by submitting your FapData anonymously, this includes your relapses, sexy times and values for Mood, Energy and Libido with their respective timestamps. No other data, especially any data which would allow us to uniquely identify you, is submitted. Notes are not submitted. Your data is collected for this scientific purpose only.
      </p>
      
      <p>
        Be a Part of the Global FapSperiment!
      </p>
    </div>
</div>
  </ion-content>
</ion-view>