<ion-view hide-back-button="false" view-title="Buy us Beer!">
  <ion-content>
    
    <div class="item item-text-wrap">
      <p>Here you may support further development of the NofApp App by buying us some beer. Additionally,
      we will probably be less at risk to relapse if we're out drinking beer.</p>

      <p>In Version 0.0.2 of this App, we actually were able to complete this page.</p>

      <p>So, you may buy us a beer and mentally chink glasses with us. Yeah!</p>
    </div>
    
    <div class="list">
      
      <div class="item item-divider">
        Buy Beer via
      </div>
      
      <a class="item item-icon-right" href="#" onclick="window.open('https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=hello%40betterarguruments%2ecom&lc=DE&no_note=1&no_shipping=1&currency_code=EUR&bn=PP%2dDonationsBF%3atest%2epng%3aNonHosted', '_system')">
        PayPal
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      
    </div>
  </ion-content>
</ion-view>