<ion-view hide-back-button="false" view-title="About NofAPP">
  <ion-content>
    <div class="item item-divider">
      Version 0.0.2 "Ejaculatio Praecox"
    </div>
    <div class="item item-text-wrap">
      <p>Once upon a time, two highly motivated German Students, who happened to be friends, met up
    	during their University Holidays for a private "Hackathon" to utilize their 1337 Programm0r Skillz.</p>

    <p>They decided to develop an app. But what kind of app? One student had a medical background, the
    	other was studying mechanical engineering.</p>

    <p>What a perfect combination! They wondered whether
    	Nofap could actually prevent depression and anxiety (therefore the questions about mood and energy)
    	and if one actually has more sex after beginning Nofap.</p>

    <p>However, after about 30 seconds they noticed, that only by using a framework they would stand a
    	realistic chance of creating an app with more than one page in 48 hours.</p>
	
    <p>They finally chose the Ionic Framework, which turned out to be awesome (thanks, Ionic Framework peoples!).</p>
    
    <p>To make things more awesome, they commenced The Fapsperiment, made the data publicly available and open-sourced everything.</p>

    <p>Enjoy and keep No-Fapping!</p>
    </div>
    
    <div class="list">
      
      <div class="item item-divider">
        Thanks to
      </div>
      
      <a class="item item-icon-right" href="#" onclick="window.open('http://www.ionicframework.com', '_system')">
        Ionic Framework
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      
      <a class="item item-icon-right" href="#" onclick="window.open('http://www.ngcordova.com', '_system')">
        ngCordova
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      
      <a class="item item-icon-right" href="#" onclick="window.open('https://github.com/litehelpers/Cordova-sqlite-storage', '_system')">
        Cordova-SQLite
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      
      <a class="item item-icon-right" href="#" onclick="window.open('http://angularjs-nvd3-directives.github.io/angularjs-nvd3-directives/', '_system')">
        AngularJS-NVD3-Directives (the plots!)
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      
      <a class="item item-icon-right" href="#" onclick="window.open('https://www.firebase.com', '_system')">
        Firebase
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      
      <div class="item item-divider">
        You might want to check out
      </div>
      
      <a class="item item-icon-right" href="#" onclick="window.open('http://www.nofapp.com', '_system')">
        NofApp.com
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      
      <a class="item item-icon-right" href="#" onclick="window.open('https://github.com/BetterArguruments/nofapp', '_system')">
        NofApp @ GitHub
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      
      <a class="item item-icon-right" href="#" onclick="window.open('https://github.com/BetterArguruments/nofapp-web', '_system')">
        NofApp-Web @ GitHub
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      
    </div>

  </ion-content>
</ion-view>