<ion-view hide-back-button="false" view-title="About The Fapsperiment">
  <ion-content>
      
    <div class="item item-text-wrap">
      <p>The Fapsperiment is all about proving that Nofap works. To accomplish that, you can provide us with anonymous data of your Nofap progress.</p> 
      <p>Data about your Mood, Energy, Libido, Sex and Faps is submitted under an anonymous User ID. Your Notes are personal and will not be submitted.</p>
    </div>

    <div class="item item-text-wrap">
      <p>If you have concerns regarding your privacy, fear no more: NofApp and NofApp.com are completely open-source (see Settings - About for GitHub Links). Furthermore, the collected data can be accessed (and analyzed) by anyone as it is hosted publicly on Firebase.</p>
    </div>
    
    <div class="list">
      
      <div class="item item-divider">
        Links
      </div>
      
      <a class="item item-icon-right" href="#" onclick="window.open('http://reddit.com/r/nofap', '_system')">
        Reddit's /r/NoFap
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      
      <a class="item item-icon-right" href="#" onclick="window.open('http://www.nofapp.com', '_system')">
        NofApp.com
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      
      <a class="item item-icon-right" href="#" onclick="window.open('https://github.com/BetterArguruments/nofapp', '_system')">
        NofApp @ GitHub
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      
      <a class="item item-icon-right" href="#" onclick="window.open('https://github.com/BetterArguruments/nofapp-web', '_system')">
        NofApp-Web @ GitHub
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      
    </div>
    
  </ion-content>
</ion-view>