<ion-modal-view>

  <ion-header-bar class="bar bar-header bar-royal">
    <!-- Back Button, we probably don't need this
    <button class="button button-icon ion-android-arrow-back" ng-click="modal_enterdata.hide()">
    </button> -->
    <h1 class="title">Getting started</h1>
    <button class="button button-icon ion-help-circled" ng-click="modal_enterdata_help.show()">
    </button>
  </ion-header-bar>
  
  <ion-content class="padding">
  
    <div class="item item-text-wrap">
      <!--<div class="button-bar">
        <a class="button button-small button-assertive" ng-click="explanation_enterbelow()">1: Very Bad</a>
        <a class="button button-small button-balanced" ng-click="explanation_enterbelow()">5: Awesome</a>
      </div>-->
      <p>Enter Your current Mood, Energy and Libido.</p>
    </div>
  
    <div class="item item-divider">
      <div class="row" style="padding: 0px">
        <div class="col col-50 no-left-padding no-top-padding no-bottom-padding">
          <i class="icon ion-shuffle"></i>
          Mood
        </div>
        <div class="col col-50 no-right-padding no-top-padding no-bottom-padding">
          {{ selectedMood }}
        </div>
      </div>
    </div>
    
    <div class="item item-text-wrap">
      <div class="button-bar">
        <a class="button button-small button-assertive" ng-class="isCurrentMood(1)" ng-click="setMood(1)">1</a>
        <a class="button button-small button-royal" ng-class="isCurrentMood(2)" ng-click="setMood(2)">2</a>
        <a class="button button-small button-royal" ng-class="isCurrentMood(3)" ng-click="setMood(3)">3</a>
        <a class="button button-small button-royal" ng-class="isCurrentMood(4)" ng-click="setMood(4)">4</a>
        <a class="button button-small button-balanced" ng-class="isCurrentMood(5)" ng-click="setMood(5)">5</a>
      </div>
    </div>
    
    <div class="item item-divider" ng-if="step > 0">

      <div class="row" style="padding: 0px">
        <div class="col col-50 no-left-padding no-top-padding no-bottom-padding">
          <i class="icon ion-flash"></i>
          Energy
        </div>
        <div class="col col-50 no-right-padding no-top-padding no-bottom-padding">
          {{ selectedEnergy }}
        </div>
      </div>
    </div>
    <div class="item item-text-wrap" ng-if="step > 0">
      <div class="button-bar">
        <a class="button button-small button-assertive" ng-class="isCurrentEnergy(1)" ng-click="setEnergy(1)">1</a>
        <a class="button button-small button-royal" ng-class="isCurrentEnergy(2)" ng-click="setEnergy(2)">2</a>
        <a class="button button-small button-royal" ng-class="isCurrentEnergy(3)" ng-click="setEnergy(3)">3</a>
        <a class="button button-small button-royal" ng-class="isCurrentEnergy(4)" ng-click="setEnergy(4)">4</a>
        <a class="button button-small button-balanced" ng-class="isCurrentEnergy(5)" ng-click="setEnergy(5)">5</a>
      </div>
    </div>
    <div class="item item-divider" ng-if="step > 1">

      <div class="row" style="padding: 0px">
        <div class="col col-50 no-left-padding no-top-padding no-bottom-padding">
          <i class="icon ion-flame"></i>
          Libido
        </div>
        <div class="col col-50 no-right-padding no-top-padding no-bottom-padding">
          {{ selectedLibido }}
        </div>
      </div>
    </div>
    <div class="item item-text-wrap" ng-if="step > 1">
      <div class="button-bar">
        <a class="button button-small button-assertive" ng-class="isCurrentLibido(1)" ng-click="setLibido(1)">1</a>
        <a class="button button-small button-royal" ng-class="isCurrentLibido(2)" ng-click="setLibido(2)">2</a>
        <a class="button button-small button-royal" ng-class="isCurrentLibido(3)" ng-click="setLibido(3)">3</a>
        <a class="button button-small button-royal" ng-class="isCurrentLibido(4)" ng-click="setLibido(4)">4</a>
        <a class="button button-small button-balanced" ng-class="isCurrentLibido(5)" ng-click="setLibido(5)">5</a>
      </div>
    </div>
    
    <div class="item item-divider" ng-if="step > 2">
    When did you last...
    </div>
    <div class="item item-text-wrap" ng-if="step > 2">
      <div class="row" style="padding: 0px">
        <div class="col col-50 no-left-padding no-top-padding no-bottom-padding">
          <a href="#" class="button button-small button-royal button-block padding-right" style="margin-top: 0px; margin-bottom: 0px" ng-click="openLastSex()">have sex?</a>
        </div>
        <div class="col col-50 no-right-padding no-top-padding no-bottom-padding" ng-if="step > 3">
          <a href="#" class="button button-small button-royal button-block padding-left" style="margin-top: 0px; margin-bottom: 0px" ng-click="openLastFap()">take a wank?</a>
        </div>
      </div>
    </div>
    
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    
  </ion-content>
  
  <div class="bar bar-footer bar-royal" ng-click="submitForm()" ng-if="step > 4">
    <div class="title">Continue</div>
  </div>
  
</ion-modal-view>