<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-royal">
    <h1 class="title">Help</h1>
    <button class="button button-icon ion-checkmark-circled" ng-click="modal_enterdata_help.hide()">
    </button>
  </ion-header-bar>
  
  <ion-content class="padding">
    <div class="item item-divider">
      Explanation of Parameters
    </div>
    <div class="item item-text-wrap">
      <p>NofApp helps you track your well-being while abstaining from Fapping.</p>
      <p>Here's a quick explanation of the different parameters.</p>
    </div>
    <div class="item item-divider">
      <i class="icon ion-arrow-graph-up-right"></i>
      Mood
    </div>
    <div class="item item-text-wrap">
      <p>How you are feeling, e.g. depressed, happy, euphoric.</p>
    </div>
    <div class="item item-divider">
      <i class="icon ion-wand"></i>
      Energy
    </div>
    <div class="item item-text-wrap">
      <p>Your motivation to do (new) things. Low Energy would be just 
      lying around in bed and surfing on Facebook, whereas High Energy would be 
      working / being productive / going out and meeting new people.</p>
    </div>
    <div class="item item-divider">
      <i class="icon ion-flame"></i>
      Libido
    </div>
    <div class="item item-text-wrap">
      <p>Well, this is pretty self-explanatory. The probability of you humping the tree 
      beside you.</p>
    </div>
    <div class="item item-divider">
      <i class="icon ion-heart"></i>
      Last Sex
    </div>
    <div class="item item-text-wrap">
      <p>The last time you had sex (no, not with your hand).</p>
    </div>
    <div class="item item-divider">
      <i class="icon ion-nuclear"></i>
      Last Fap
    </div>
    <div class="item item-text-wrap">
      <p>The last time you fapped. Be honest.</p>
    </div>
  </ion-content>
</ion-modal-view>