<ion-modal-view>

  <ion-header-bar class="bar bar-header bar-royal">
    <h1 class="title">Getting started</h1>
    <button class="button button-icon ion-help-circled" ng-click="modal_enterdata_help.show()">
    </button>
  </ion-header-bar>
  
  <ion-content class="padding">
  
    <div class="item item-text-wrap">
      <p>Enter some Data about yourself.</p>
    </div>
  
    <div class="item item-divider">
    Your Sex
    </div>
    
    <div class="item item-text-wrap">
      <div class="button-bar">
        <a class="button button-small button-royal" ng-class="isSex('m')" ng-click="setSex('m')">male</a>
        <a class="button button-small button-royal" ng-class="isSex('f')" ng-click="setSex('f')">female</a>
      </div>
    </div>
    
    <div class="item item-divider" ng-if="step > 0">
    Your Age
    </div>
    
    <div class="item item-text-wrap" ng-if="step > 0">
      <label class="item item-input item-royal">
          <span class="input-label" style="width: 50%; font-size: 12px; color: #fff">Tap to enter Birthday</span>
          <input type="date" ng-model="userState.values.birthday" style="color: #fff; font-size: 12px">
      </label>
    </div>
    
    <div class="item item-text-wrap">
      {{ userState.values.birthday | json }}
    </div>
    
    
    <ion-footer-bar class="bar-royal" ng-click="continue()" ng-if="step > 1">
      <h1 class="title">Continue</h1>
      <button class="button button-icon ion-ios-arrow-right"></button>
    </ion-footer-bar>
  </ion-content>
  

  
</ion-modal-view>